{% extends 'base.html.twig' %}

{% block title %}Type d'energie{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Energie</th>
                <th>Tarif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for energie in energies %}
            <tr>
                <td>{{ energie.id }}</td>
                <td>{{ energie.nomEnergie }}</td>
                <td>{{ energie.tarifEnergie }}</td>
                <td>
                    <a href="{{ path('energie_show', {'id': energie.id}) }}" class="btn btn-secondary col-4"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('energie_edit', {'id': energie.id}) }}" class="btn btn-success"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('energie_new') }}" class="btn btn-success">Nouveau</a>
{% endblock %}
