{% extends 'base.html.twig' %}

{% block title %}Energie{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ energie.id }}</td>
            </tr>
            <tr>
                <th>Energie</th>
                <td>{{ energie.nomEnergie }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ energie.tarifEnergie }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <a href="{{ path('energie_index') }}" class="btn btn-secondary">Retour</a>
        <a href="{{ path('energie_edit', {'id': energie.id}) }}" class="btn btn-success">Modifier</a>
        {{ include('energie/_delete_form.html.twig') }}
    </div>
{% endblock %}
