{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1 class="text-center mb-2"><span>JE CONSULTE LES RENDEZ-VOUS DISPONIBLES</span></h1>
    <div class="row">
        <div class="col-md-8 ml-5 text-center" style="background-color: lightcoral;">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert"><h2><strong>{{ flashError }}</strong></h2></div>
            {% endfor %}

            <h1 class="h3 mb-3 font-weight-normal">Je crée mon compte</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.telephone) }}
                {{ form_row(registrationForm.nom) }}
                {# {{ form_row(registrationForm.agreeTerms) }} #}
                <div class="small" style="opacity: 0.4;">
                    {{ form_rest(registrationForm) }}
                </div>
                <button type="submit" class="text-center btn btn-lg btn-primary">S'inscrire</button>
                {{ form_end(registrationForm) }}
        </div>
        <div class="col-md-2 ml-3 center text-center justify-content-between" style="background-color:#d4ebf2;">
            <p class="mb-3 font-weight-normal">J'ai déjà un compte</p>
            <div class="mt-3 center text-center justify-content-between">
                <a  class="text-center btn btn-lg btn-primary" title="S'inscrire" aria-label="S'inscrire" 
                    href="{{ path('app_login') }}"><strong>Se connecter</strong></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
