{% extends 'base.html.twig' %}

{% block title %}Je m'inscris{% endblock %}

{% block size %}3{% endblock size %}

{% block body %}
        <div class="col-md-12 text-center shadow rounded">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert"><h2><strong>{{ flashError }}</strong></h2></div>
            {% endfor %}

            {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_widget(registrationForm.plainPassword,{'label':'','attr':{'class':'form-control mt-2'}}) }}
                {{ form_widget(registrationForm.telephone,{'attr':{'class':'form-control mt-2'}}) }}
                {{ form_widget(registrationForm.nom,{'attr':{'class':'form-control mt-2'}}) }}
                {# {{ form_row(registrationForm.agreeTerms) }} #}
                <div class="small" style="opacity: 0.6;">
                    {{ form_rest(registrationForm) }}
                </div>
                <button type="submit" class="text-center btn btn-lg btn-primary col-12 mt-2 mb-2">S'inscrire</button>
                {{ form_end(registrationForm) }}
        </div>
        <div class="col-md-12 center text-center rounded shadow justify-content-between mt-3" style="background-color:#d4ebf2;">
            <h5 class="mb-3 font-weight-normal">J'ai déjà un compte Chauffatec</h5>
            <div class="mt-3 center text-center justify-content-between">
                <a  class="text-center btn btn-lg btn-white text-primary" title="S'inscrire" aria-label="S'inscrire" 
                    href="{{ path('app_login') }}"><strong>Se connecter</strong></a>
            </div>
        </div>
{% endblock %}
