
{{ form_start(form, {'attr': {'class': 'text-center','style':'color: #757575;'}}) }}
    <div class="form-group row">
        <div class="md-form col-8">        
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            <small id="emailHelp" class="form-text text-muted alert alert-info m-0 p-0" style="height: 20px;">Nous ne partageons votre email avec personne.</small>
        </div>
        <div class="md-form col-4">        
            {{ form_row(form.Telephone, {'attr': {'class': 'form-control','type':'password'}}) }}
        </div>
    </div>
    <div class="collapse" id="infos-client">
        <div class="card card-body">
            <div class="form-group row">
                <!-- First name -->
                <div class="md-form col-6">        
                    {{ form_row(form.Nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="md-form col-6">        
                    {{ form_row(form.Prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <!-- First name -->
                <div class="md-form col-12">        
                    {{ form_row(form.Adresse, {'attr': {'class': 'form-control col-12'}}) }}
                </div>
                <div class="md-form col-6">        
                    {{ form_row(form.CodePostal, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="md-form col-6">        
                    {{ form_row(form.Ville, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-12" style="display: none;">
                <div class="md-form">        
                    {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-12">
                <div class="md-form">        
                    {{ form_row(form.Telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>  
    <button class="btn btn-primary col-12">ENREGISTRER</button>
    <div class="text-right">
        <a  class="btn btn-sm btn-link txt-center" href="{{ path('app_forgot') }}" >
            <span class="strong text-center" style="font-weight:bold;">CHANGER DE MOT DE PASSE</span></a>
    </div>
    <a class="btn btn-primary collapsed" data-toggle="collapse" href="#infos-client" role="button" aria-expanded="false" aria-controls="infos-client">
        Mes informations clients
    </a>
    {{ form_row(form._token) }}
    {# <input type="hidden" name="_method" value="UPDATE"> #}
    {# <input type="hidden" name="_token" value="{{ csrf_token('update' ~ app.user.id) }}"> #}
    
{{ form_end(form, {'render_rest': false}) }}
    {% set VarBookings = form.vars.value.bookings %}
            <div class="form-group row">
                <div class="md-form col- mt-2 text-info">        
                    Vous avez {{VarBookings|length}} rendez-vous
                </div>
            </div>
            {% for booking in VarBookings|reverse %}
            {% set DateDebut = booking.start|date('d/m/Y') %}
            {% set Today = 'now'|date('Y-m-d') %}
            {% set a = '<div style="opacity:0.6">' %}
            {% set a_fin = '</div>' %}
            {% if Today <= DateDebut %}
                {# {% set a = "<a href=\"../rdv/" ~ booking.id ~ "/edit\" class=\"btn btn-info\">" %} #}
                {% set a = '<a href="#" class="btn btn-warning">' %}
                {% set a_fin = '</a>' %}
            {% endif %}
            <div class="form-group row">
                <div class="md-form col-12 border border-light">        
                        {{ a|raw }}
                        <p style="font-family: Verdana, sans-serif;"><i class="fas fa-calendar-alt"></i> Le <strong>{{ booking.start|date('d/m/Y') }}</strong> à <strong>{{ booking.start|date('H:i') }}</strong>
                            <small><i>(Fin estimée à {{ booking.end|date('H:i') }})</i></small>
                            {# <i>(Tarif estimé à {{ booking.TarifEnergie }})</i> #}
                            <p><small>Descriptif : {{ booking.description }}</small></p>
                        {{ a_fin|raw }}
                    
                </div>
            </div>
            {% endfor %}
</div>