{% extends 'base.html.twig' %}

{% block body %}

    <h1>Booking index</h1>

    <div style="width:30%; height:50%; color:#ffffff" id="calendar-holder"></div>
    
      <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.title }}</td>
                <td>{{ booking.start ? booking.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.end ? booking.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.description}}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">Afficher</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Nouveau rdv</a>
{% endblock %}