{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/app.css') }}" >
<link rel="stylesheet" href="{{ asset('fullcalendar/core/main.css') }}" >
<link rel="stylesheet" href="{{ asset('fullcalendar/daygrid/main.css') }}" >
<link rel="stylesheet" href="{{ asset('fullcalendar/list/main.css') }}" >
<link rel="stylesheet" href="{{ asset('fullcalendar/timegrid/main.css') }}" >
{# <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.simplex.css') }}" > #}

<link rel="stylesheet" href="{{ asset('jquery-ui/jquery-ui.css') }}" >
<link rel="stylesheet" href="{{ asset('datetimepicker/datetimepicker.css') }}">
<link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" >
<link rel="stylesheet" href="{{ asset('datatable/css/dataTables.bootstrap4.min.css') }}" >
{% endblock %}


<body class="container" style="font-family: Roboto,sans-serif;">
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <a class="navbar-brand" href="#"><img src="{{ asset('img/logo-chauffatec.jpg') }}" alt=""> 
    </a>
    <small>
      <small>
        {% set UserRole = 'Utilisateur' %} 
        {% set UserId = null %} 
        {% if app.user %}
          {% set UserId = app.user.id %} 
          {% for role in app.user.roles %}
            {% if role == 'ROLE_ADMIN' %}
              {% set UserRole = 'Administrateur' %} 
            {% endif %}
          {% endfor %}
          Bonjour, {{ UserRole }} {{ app.user.nom ?? "inconnu" }}
        {% else %}
          Pas connecté
        {% endif %}
      </small>
    </small>
      <button   class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" 
                aria-expanded="false" aria-label="Toggle navigation">
        <span   class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ml-2">
            <a class="nav-link" href="{{ path('app_index') }}">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link btn btn-outline-success" href="{{ path('booking_index') }}"><strong class="color-white">Prendre rdv</strong></a>
          </li>
          {% if UserRole == 'Administrateur' %}
          <li class="nav-item dropdown ml-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ShowRdv">Ouvrir un rdv</a>
              <a class="dropdown-item" href="{{ path('booking_index') }}">Calendrier</a>
              <a class="dropdown-item" href="{{ path('booking_valid') }}">Liste des rendez-vous à valider</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('user_index') }}">Liste des clients</a>
              <a class="dropdown-item" href="{{ path('booking_list') }}">Liste des rendez-vous</a>
              <a class="dropdown-item" href="{{ path('marque_index') }}">Liste des marques</a>
              <a class="dropdown-item" href="{{ path('energie_index') }}">Liste des energies</a>
              <div class="dropdown-divider"></div>
                {# <a class="dropdown-item" href="{{ path('multi_new') }}">Ouverture de rdv</a> #}
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#multi">Ouverture de rdv</a>
            </div>
          </li>
          {% endif %}
          {% if UserId is not null %}
          <input type="hidden" name="startDate" id="startDate" 
            {% if UserRole == 'Administrateur' %}value="2018-01-01" {% else %}value="{{ 'now'|date_modify('+2 day')|date('Y-m-d') }}"{% endif %}>
          <li class="nav-item ml-2">
            <a class="nav-link" href="{{ path('profil_edit', { 'id': UserId }) }}">Mes informations</a>
          </li>            
          {% endif %}
        </ul>
        <ul>
            <li class="navbar-nav active navbar-right">
              {% if UserId is not null %}
                <a class="nav-link btn btn-outline-danger" href="{{ path('app_logout') }}">Déconnexion<span class="sr-only bg-danger"></span></a>
              {% else %}
                <a class="nav-link btn btn-outline-success" href="{{ path('booking_index') }}">Se connecter<span class="sr-only bg-Success"></span></a>
              {% endif %}
            </li>
        </ul>
        {# <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
        </form> #}
      </div>
  </nav>
  <div class="col-12">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-notice alert alert-{{ label }}">
              <h3>{{ message }}</h3>
            </div>
        {% endfor %}
    {% endfor %}
    {# <div class=""><h4><strong class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</strong></h4></div> #}
  </div>

{# SHOW RDV MULTI MODAL #}
  {% include("multi/new.html.twig") %}
{# END RDV MUTLI MDAL #}

{# SHOW RDV MODAL #}
<div  class="modal fade bg-light" 
      style="height: 90%; min-width: 80%;"
      id="ShowRdv" tabindex="-1" role="dialog" aria-labelledby="ModalRdv" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">      
    <div class="modal-content">
      <div class="modal-header alert alert-danger">
          <h4 id="booking_titreShowRdv" class="modal-titlecenter">Ouvrir un Rdv</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="booking" class="col-12 row" action="{{ path('rdv_new') }}" method="POST">
          <input type="hidden" name="booking[id]" id="booking_id">
          <input type="hidden" name="booking[iduser]" id="booking_iduser" {% if UserRole != 'Administrateur' %}value="{{ UserId }}" {% endif %}>
          <div class="m-0 p-0 row col-12" id="divContenu">
            <div class="row col-12">
                <label class="col-4" for="booking_title">Titre</label>
                <input  type="text" class="form-control col-8" 
                        name="booking[title]" id="booking_title" placeholder="Entrez un titre" 
                        required="required" maxlength="255">
            </div>
            <div class="row col-12">
                <label class="col-4" for="booking_start">Date de début</label>
                <input  type="text" class="form-control input-inline datetimepicker col-8" 
                        id="booking_start" name="booking[start]" required="required" data-provide="datetimepicker" format="dd/MM/yyyy HH:mm" input="string" input_format="y-M-d HH:mm:ss">
            </div>
            <div class="row col-12">
                <label class="col-4" for="booking_end">Date de fin</label>
                <input  type="text" class="form-control input-inline datetimepicker end col-8" 
                        id="booking_end" name="booking[end]" data-provide="datetimepicker" format="dd/MM/yyyy HH:mm" input="string" input_format="y-M-d HH:mm:ss">
            </div>
            <div class="row col-12">
                <label class="col-4" for="booking_background_color">Couleur</label>
                <input  type="color" class="form-control col-8" 
                        id="booking_background_color" name="booking[background_color]" placeholder="Selectionnez une couleur">
            </div>
            <div class="row col-12">
                <label    class="col-4" for="booking_description">Description</label>
                <textarea class="form-control col-8" id="booking_description" name="booking[description]"></textarea>
            </div>
            <input type="hidden" id="booking__token" name="booking[_token]" value="{{ csrf_token('insert') }}">
          </div>
          <div class="modal-footer row col-12">
            <button class="btn btn-success"  id="booking_submit_button">Sauvegarder</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="booking_close_button">Fermer</button>
        </div>
        </form>
      </div>
  </div>
  </div>
  </div>
</div>
  {% if block("title") is defined %}
  <div class="container col-{% if block("size") is defined %}{{ block('size') }}{% else %}8{% endif %}">
    <h5 class="card-header border rounded text-left py-4">
      <strong>{{ block('title') }}</strong>
    </h5>
    {% endif %}
    {% block body %}
    
    {% endblock %}

    {% if block("title") is defined %}
        </div>
      </body>
    {% endif %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}">   </script>
    <script src="{{ asset('jquery-ui/jquery-ui.js') }}">   </script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}">   </script>
    <script src="{{ asset('moment/moment.js') }}">   </script>
    <script src="{{ asset('moment/moment-with-locales.js') }}">   </script>
    <script src="{{ asset('moment/moment-timezone.js') }}">   </script>
    
    <script src="{{ asset('datetimepicker/datetimepicker.js') }}">   </script>
    {# <script src="{{ asset('datetimepicker/moment.js') }}">   </script> #}
    
    <script src="{{ asset('fullcalendar/core/main.js') }}">       </script>
    <script src="{{ asset('fullcalendar/core/locales-all.js') }}">       </script>
    <script src="{{ asset('fullcalendar/daygrid/main.js') }}">    </script>
    <script src="{{ asset('fullcalendar/interaction/main.js') }}"></script>
    <script src="{{ asset('fullcalendar/list/main.js') }}">       </script>
    <script src="{{ asset('fullcalendar/timegrid/main.js') }}">   </script>
    {# <script src="{{ asset('fullcalendar/moment/main.global.min.js') }}">   </script> #}
    {# <script src="{{ asset('js/popper.js') }}">   </script> #}
    <script src="{{ asset('tarteaucitron/tarteaucitron.js')}}"></script>
    <script src="{{ asset('js/tarteaucitron.js')}}"></script>
    <script src="{{ asset('js/datetimepickers.js')}}"></script>
    
    <script src="{{ asset('datatable/js/datatable.min.js') }}">   </script>
    <script src="{{ asset('datatable/js/dataTables.bootstrap4.min.js') }}">   </script>
    
    <script type="text/javascript">
      
      moment.tz.add("Europe/Paris|PMT WET WEST CEST CET WEMT|-9.l 0 -10 -20 -10 -20|0121212121212121212121212121212121212121212121212123434352543434343434343434343434343434343434343434343434343434343434343434343434343434343434343434343434343434343434343434343434343434|-2nco8.l cNb8.l HA0 19A0 1iM0 11c0 1oo0 Wo0 1rc0 QM0 1EM0 UM0 1u00 10o0 1io0 1wo0 Rc0 1a00 1fA0 1cM0 1cM0 1io0 17c0 1fA0 1a00 1io0 1a00 1io0 17c0 1fA0 1a00 1io0 17c0 1cM0 1cM0 1a00 1io0 1cM0 1cM0 1a00 1fA0 1io0 17c0 1cM0 1cM0 1a00 1fA0 1io0 1qM0 Df0 Ik0 5M30 WM0 1fA0 1cM0 Vx0 hB0 1aq0 16M0 1ekn0 1cL0 1fC0 1a00 1fA0 1cM0 1cM0 1cM0 1fA0 1a00 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1fA0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1fA0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1cM0 1fA0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00|11e6")
      
      function getFormattedDate(date) 
      {
        let year = date.getFullYear();
        let month = (1 + date.getMonth()).toString().padStart(2, '0');
        let day = date.getDate().toString().padStart(2, '0');
        let hour = date.getHours().toString().padStart(2, '0');
        let min = date.getMinutes().toString().padStart(2, '0');
        return day + '/' + month + '/' + year+' '+hour+':'+min;
      }

      function Calendrier()
      {
        // console.log(moment(new Date()));
        var today = new Date();
        var demain = $("#startDate").val();
        //demain = moment(demain).tz("Europe/Paris").format("YYYY-MM-DD");
        var calendarEl = document.getElementById('calendar-holder2');
        var calendar = new FullCalendar.Calendar(calendarEl, 
        {
          height: 800,
          width: 600, 
          defaultView: 'timeGridWeek',
          timezone: 'Europe/Paris',
          //ignoreTimezone: true,
          locale: 'fr',
          // editable: true,
          selectable: ("{{ UserRole }}" == "Administrateur" ? true : false),
          themeSystem: 'bootstrap',
          selectHelper: true,
          nowIndicator: true,
          validRange: 
          {
            start: demain
          },
          buttonText: 
          {
            today: 'Aujourd\'hui',
            month: 'Mois',
            week: 'Semaine',
            day: 'Jour',
            list: 'Liste'
          },
          header: 
          {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,list',
          },
          plugins: ['dayGrid','timeGrid','list','interaction'],
          events: {
            url: "{{ path('rdv_index') }}",
            method: 'GET',
            /* paramètres envoyés lors de la requête 
            extraParams: {
              custom_param1: 'something',
              custom_param2: 'somethingelse'
            },/**/
            failure: function() {
              // alert('Impossible de charger les événements du calendrier !');
            }
          },
                /*eventRender: function(info) 
                {
                  var cell = info['el'];
                  var start = info.event.start;
                  var end = info.event.end;
                  var affichage3 = moment(start).format("HH:mm") + '-' + moment(end).format("HH:mm");
                  if (moment(start).tz("Europe/Paris").format("YYYY-MM-DD") <= demain )
                  {
                      info.el.querySelector('.fc-content').setAttribute('style','opacity:0.2;background-color: #CCCCCC;');
                      // ;
                    }
                    /*if ((info.view.type == 'dayGridMonth') ||  (info.view.type == 'timeGridWeek'))
                    {
                      var new_description =   info.event.title +
                      '<br/><small>'
                        // + (info.event.extendedProps.description ? info.event.extendedProps.description : '') + '</small><br/>'
                        // + '<strong>Address: </strong><br/>' + infos.address + '<br/>'
                        + (info.event.extendedProps.adresse ? info.event.extendedProps.adresse : '');
                        info.el.querySelector('.fc-time').innerHTML = affichage3;
                        info.el.querySelector('.fc-title').innerHTML = new_description;
                        ;
                    }
                },/**/
                    /*function(info,event,element,view) 
                    {
                      var tooltip = new Tooltip(info.el, {
                        title: info.event.extendedProps.description,
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                      });
                  },/**/
                select: function(infos) 
                {
                  if ("{{ UserRole }}" == "Administrateur")
                  {   console.log("select: function(infos) ");
                      console.log("START : "+infos.start+"\n"+"END : "+infos.end);/**/
                      $('#ShowRdv').modal('show');
                      var vtitre = moment(infos.start).tz("Europe/Paris").format("DD MMMM");
                      var vstart = moment(infos.start).tz("Europe/Paris").format("DD/MM/YYYY HH:mm");
                      var vstart2 = getFormattedDate(new Date(infos.start));
                      var vend = moment(infos.end).tz("Europe/Paris").format("DD/MM/YYYY HH:mm");
                      // console.log("START "+vstart+"\nSTART2 "+vstart+"\n END"+vend);
                      $('#ShowRdv').on('shown.bs.modal', function (event) 
                      {
                        $(".modal-body #booking_title").val('RDV DISPONIBLE '+vstart);
                        $(".modal-body #booking_start").val((vstart));
                        $(".modal-body #booking_end").val((vend));
                        
                        /*$.getScript('/event/new',function(){
                          $("#event_date_range").val(moment(start).format("DD/MM/YYYY HH:mm") +' - '+moment(end).format("DD/MM/YYYY HH:mm"));
                          date_range_picker();
                          $(".start_hidden").val(moment(start).format("DD/MM/YYYY HH:mm"));
                          $(".end_hidden").val(moment(end).format("DD/MM/YYYY HH:mm"));/**/
                      })
                      $('#ShowRdv').on('hidden.bs.modal', function () 
                      {
                          calendar.render();
                      })
                    }
                  },
                  dateClick: function(info) 
                  {
                    if ("{{ UserRole }}" == "Administrateur")
                    {
                      console.log('dateClick: function(info) ');
                      $('#ShowRdv').modal('show');
                      var d = getFormattedDate(new Date(info.dateStr));
                      $('#ShowRdv').on('shown.bs.modal', function (event) 
                      {
                        $(".modal-body #booking_start").val((d));
                        $(".modal-body #booking_end").val((d));
                      })
                    }
                  },
                  eventDrop: (infos) => 
                  {
                    if ("{{ UserRole }}" == "Administrateur")
                    {
                      console.log(infos.event);
                      $('#ShowRdv').modal('show');
                      var vstart = new Date(infos.event.start);
                      var vend = new Date(infos.event.end);
                      
                      $('#ShowRdv').on('shown.bs.modal', function (event) 
                      {
                        $(".before").remove();
                        $("#booking_submit_button").show();
                        $("#booking_titreShowRdv").html("Etes vous sûr.e de vouloir déplacer cet évènement ?");
                        $(".modal-body #booking_submit_button").html("OUI");
                        $(".modal-body #booking_close_button").html("NON");

                        $(".modal-body #booking_id").val(infos.event.id);
                        $(".modal-body #booking_title").val(infos.event.title);
                        $(".modal-body #booking_start").before('<div class="col-3 before"><small>'+getFormattedDate(infos.oldEvent.start)+' => </small></div>');
                        $(".modal-body #booking_start").removeClass("col-8");
                        $(".modal-body #booking_start").addClass("col-5");
                        $(".modal-body #booking_start").val(getFormattedDate(vstart));
                        // $("#booking_start").val(getFormattedDate(vstart));
                        $(".modal-body #booking_end").before('<div class="col-3 before"><small>'+getFormattedDate(infos.oldEvent.end)+' => </small></div>');
                        $(".modal-body #booking_end").removeClass("col-8");
                        $(".modal-body #booking_end").addClass("col-5");
                        $(".modal-body #booking_end").val(getFormattedDate(vend));
                        $(".modal-body #booking_background_color").val(infos.event.backgroundColor);
                        $(".modal-body #booking_description").val(infos.event.extendedProps.description);             
                      })
                      $('#ShowRdv').on('hidden.bs.modal', function () 
                      {
                        $(".before").remove();
                        infos.revert();
                        calendar.render();
                        // $(this).find('form')[0].reset();
                      })
                    }
                  },
                  eventClick: (infos) => 
                  {
                    console.log('eventClick: function(info) ');
                    console.log('Event: ' + infos.event.title);
                    console.log('Coordinates: ' + infos.jsEvent.pageX + ',' + infos.jsEvent.pageY);
                    console.log('View: ' + infos.view.type);
                    if ("{{ UserRole }}" == "Administrateur")
                    {
                      window.location.replace(""+infos.event.id+"/edit");
                    }
                    else
                    {
                      /*$.each(infos.event.extendedProps, function(index, val) {
                        console.log(index+"=>"+val);
                      });/**/
                      console.log("isFree : "+ (infos.event.extendedProps.isFree));
                      console.log("idUser : "+ (infos.event.extendedProps.idUser));
                      console.log("idEvent: "+ (infos.event.id));
                      console.log('UserId: ' + "{{ UserId }}" );
                      if ("{{ UserId }}" == infos.event.extendedProps.idUser) 
                      {
                        console.log("LES DEUX ID SONT IDENTIQUES IL S'AGIT DU RDV DE LA PERS CONNECTÉE => MODIFICATION");
                        window.location.replace("../rdv/"+infos.event.id+"/edit");
                      }
                      else if ((infos.event.extendedProps.isFree) && ("{{ UserId }}" != infos.event.extendedProps.idUser))
                      {
                        console.log("LES DEUX ID SONT DIFFÉRENTS MAIS LE RDV EST OUVERT ("+infos.event.extendedProps.isFree+") => INSCRIPTION" );
                        window.location.replace("../rdv/"+infos.event.id+"/edit");
                      }
                      else
                      {
                        console.log("LES DEUX ID SONT DIFFÉRENTS ET LE RDV EST FERMÉ => PAS DE REACTION" );
                        // change the border color just for fun
                        infos.el.style.borderColor = 'red';
                        $('#ShowRdv').modal('show');
                        $("#ShowRdv .modal-lg").removeClass("modal-lg").addClass("modal-sm");
                        var vstart = new Date(infos.event.start);
                        var vend = new Date(infos.event.end);
                        
                        $("#divContenu").hide();
                        $('#ShowRdv').on('shown.bs.modal', function (event) 
                        {
                          $(".before").remove();
                          $("#booking_titreShowRdv").html("Rendez-vous indisponible");
                          $("#booking_submit_button").hide();
                          $("#booking_close_button").html("OK");

                          $(".modal-body #booking_id").val(infos.event.id);
                          /*$(".modal-body #booking_title").hide(); // .val(infos.event.title);
                          $(".modal-body #booking_start").hide(); // .val(getFormattedDate(vstart));
                          $(".modal-body #booking_end").hide(); // .val(getFormattedDate(vend));
                          $(".modal-body #booking_background_color").hide(); // .val(infos.event.backgroundColor);
                          $(".modal-body #booking_description").hide(); // .val(infos.event.extendedProps.description);             */
                        })
                        $('#ShowRdv').on('hidden.bs.modal', function () 
                        {
                          calendar.render();
                        })/**/
                      }
                    }
                },
                eventResize: (infos) => 
                {
                  console.log(infos);
                  if ("{{ UserRole }}" == "Administrateur")
                    {
                      $('#ShowRdv').modal('show');
                      var vstart = new Date(infos.event.start);
                      var vend = new Date(infos.event.end);
                      console.log(infos);
                      
                      $('#ShowRdv').on('shown.bs.modal', function (event) 
                      {
                        $(".before").remove();
                        $("#booking_submit_button").show();
                        $("#booking_titreShowRdv").html("Etes vous sûr.e de vouloir modifier cet évènement ?");
                        $("#booking_submit_button").html("OUI");
                        $("#booking_close_button").html("NON");
                        $(".modal-body #booking_id").val(infos.event.id);
                        $(".modal-body #booking_title").val(infos.event.title);

                        $(".modal-body #booking_start").val(getFormattedDate(vstart));
                        $(".modal-body #booking_start").val(getFormattedDate(vstart));

                        $(".modal-body #booking_end").val(getFormattedDate(vend));
                        $(".modal-body #booking_background_color").val(infos.event.backgroundColor);
                        $(".modal-body #booking_description").val(infos.event.extendedProps.description);             
                      })
                      $('#ShowRdv').on('hidden.bs.modal', function () 
                      {
                        $(".before").remove();
                        infos.revert();
                        calendar.render();
                        // $(this).find('form')[0].reset();
                      })
                    }
                },
              });
            calendar.render();
      }

      /*document.addEventListener('DOMContentLoaded', () => 
      {
        DateTimePickers();
        Calendrier();
      });/**/
        window.onload = () => 
        {
          DateTimePickers();
          $("#multi_repetition").change(function() 
          {
            $("#ConsoleRepetition").html($(this).val()+" fois ");
          });
          
          $("input[type=radio][name=day]").change(function() 
          {
            $("#ConsoleJour").html("Tous les " + $(this).attr('id'));
          });
          
          $(".disponible").on("change", function(ee)  
          {
            if (this.value == 1)
            {
              if (confirm("Attention vous avez cliqué sur libérer un rendez vous alors qu'un utilisateur était déjà inscrit"+"\n"
              +"Cette action libère le rendez-vous et le rend de nouveau disponible\n"
              +"Voulez vous continuer ?"))
              {
                //alert ("Suppression");
                $("#booking #booking_description").val('');
                $("#booking #booking_title").val("RDV DISPONIBLE " + $("div#booking #booking_start").val());
              }
            }
          });
          
          $(".typeEnergie").on("change", function(ee)  
          {
            var price = $(this).find('option:selected').data('price');
            $("#prixEstimatif").html("Prix éstimé : "+ price + "€");
          });

          $('.dataTable').DataTable({
            "language": {
              "sEmptyTable":     "Aucune donnée disponible dans le tableau",
              "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
              "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
              "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
              "sInfoPostFix":    "",
              "sInfoThousands":  ",",
              "sLengthMenu":     "Afficher _MENU_ éléments",
              "sLoadingRecords": "Chargement...",
              "sProcessing":     "Traitement...",
              "sSearch":         "Rechercher :",
              "sZeroRecords":    "Aucun élément correspondant trouvé",
              "oPaginate": {
                  "sFirst":    "Premier",
                  "sLast":     "Dernier",
                  "sNext":     "Suivant",
                  "sPrevious": "Précédent"
              },
              "oAria": {
                  "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                  "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
              },
              "select": {
                      "rows": {
                          "_": "%d lignes sélectionnées",
                          "0": "Aucune ligne sélectionnée",
                          "1": "1 ligne sélectionnée"
                      } 
              }
            },
            "order": [[ 8, "desc" ]]
          });

          Calendrier();
          /*$("#booking_start").on("change", function(ee) 
        {
          console.log("on change : "+$(this).val());
          var dateStart = new Date($(this).val(), "d/M/Y H:i:s");
          console.log("dateStart : "+dateStart);
          $('#booking_end').datetimepicker('setDate', $(this).val());
        });/**/
      };
    </script>
{% endblock %}