{% extends 'base.html.twig' %}

{% block title %}Liste des Marques{% endblock %}

{% block body %}
    <table class="table dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.id }}</td>
                <td>{{ marque.nomMarque }}</td>
                <td>
                    <a href="{{ path('marque_show', {'id': marque.id}) }}" class="btn btn-secondary col-xs-3"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('marque_edit', {'id': marque.id}) }}" class="btn btn-success col-xs-3"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('marque_new') }}" class="btn btn-success">Nouveau</a>
{% endblock %}
