{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}
{% block size %}12{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.codePostal }}</td>
                <td>
                    <a href="{{ path('clients_show', {'id': client.id}) }}" class="btn btn-secondary"   >Visualiser</a>
                    <a href="{{ path('clients_edit', {'id': client.id}) }}" class="btn btn-success"     >Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="col-12 row border border-dark text-center">
        <a href="{{ path('clients_new') }}">Créer un client</a>
    </div>
{% endblock %}
