{% extends 'mail/base.html.twig' %}

{% block body %}
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="max-width: 650px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table  bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0"
                                            style="border-radius:8px 8px 4px 4px; background-color:#FFFFFF;" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table  bgcolor="#0596DE" border="0" cellpadding="14" cellspacing="0"
                                                            style="border-radius:8px 8px 0 0; background-color:#EE4423; "
                                                        width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="middle" align="left" style="color:#FFFFFF;">
                                                                                    <span class="Object" id="OBJ_PREFIX_DWT148_com_zimbra_url">
                                                                                        <h1 style=""><a  href="https://www.chauffatec.fr" target="_blank"
                                                                                            class="chauffatec_title" style="color:#FFFFFF;font-weight:300;">
                                                                                            CHAUFFATEC</a></h1>
                                                                                    </span>
                                                                                </td>
                                                                                <td align="right"
                                                                                    style="font-size:16px; line-height:35px; color:#FFFFFF;">
                                                                                    <span style="vertical-align:middle;">Confirmation de rendez-vous</span>
                                                                                </td>
                                                                                <td     align="right" width="38">
                                                                                    <img    alt=""
                                                                                            border="0" height="24"
                                                                                            style="display: block;"
                                                                                            width="24"
                                                                                            src="http://chauffatec.fr/img/confirm.png">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="14" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:16px; color:#435F71;">
                                                                                    Mr Arnaud MICHOT</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="font-size:14px; color:#8E9FAA;">
                                                                                    Chauffagiste</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size:14px; color:#435F71; font-weight:bold;">
                                                                                    <span class="Object" id="OBJ_PREFIX_DWT149_com_zimbra_date">
                                                                                        Rendez-vous le {{ booking.start ? booking.start|date('d/m/Y à H:i') : '' }}
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size:14px; color:#435F71; font-weight:bold;">
                                                                                    <span class="Object" id="OBJ_PREFIX_DWT149_com_zimbra_date">
                                                                                        Pour l'entretien de votre chaudière {{ booking.marque.NomMarque }} à {{ booking.energie.NomEnergie }}
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr></tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <table  bgcolor="white" border="0" cellpadding="0" cellspacing="0"
                                                                                            style="max-width:650px;border-radius:4px;overflow:hidden;padding:10px 15px 0 15px;"
                                                                                            width="100%">
                                                                                        <tbody>
                                                                                            <tr style="font-size:14px; color:#435F71; line-height:24px;">
                                                                                                <td class="xs-inline-block"
                                                                                                    style="padding-right:5%;padding-bottom:10px;">
                                                                                                    Votre rendez-vous est <strong>confirmé.</strong> 
                                                                                                    En cas d'imprévu, pensez à l'annuler le plus tôt possible.
                                                                                                </td>
                                                                                                <td class="xs-inline-block xs-text-center xs-full-width"><img
                                                                                                    align="center" height="200"
                                                                                                    src="http://chauffatec.fr/img/plombier.png">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr></tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <table border="0" cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        style="display:inline-block; margin:7px;"
                                                                                        width="264">
                                                                                        <tbody>
                                                                                            <tr align="center">
                                                                                                <td align="center"
                                                                                                    bgcolor="#FF7E00"
                                                                                                    height="44"
                                                                                                    style="border-radius:4px; background-color:#FF7E00;"
                                                                                                    valign="center"
                                                                                                    width="264"><span
                                                                                                        class="Object"
                                                                                                        id="OBJ_PREFIX_DWT151_com_zimbra_url"><a
                                                                                                            style="display:block; text-decoration:none; line-height:44px; color:#FFFFFF;"
                                                                                                            href="{{ path('rdv_edit', { 'id': booking.id }) }}"
                                                                                                            target="_blank">ANNULER RDV</a></span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td>
                                    <table width="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="14"
                                        style="border-radius:4px; background-color:#FFFFFF;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="color:#435F71; line-height:18px;">
                                                                    <p style="font-size:24px; ">Avez vous pensé à renseigner votre adresse ?</p>
                                                                    <p>Accédez à votre compte.</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        style="display:inline-block; margin:7px;"
                                                                        width="264">
                                                                        <tbody>
                                                                            <tr align="center">
                                                                                <td align="center" bgcolor="#0596DE"
                                                                                    height="44"
                                                                                    style="border-radius:4px; background-color:#0596DE;"
                                                                                    valign="center" width="264">
                                                                                    <span
                                                                                        class="Object"
                                                                                        id="OBJ_PREFIX_DWT153_com_zimbra_url"><a
                                                                                            style="display:block; text-decoration:none; line-height:44px; color:#FFFFFF;"
                                                                                            href="{{ path('profil_edit', { 'id': booking.idUser.id }) }}"
                                                                                            target="_blank">MON COMPTE</a></span></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <style>
                                @media screen and (max-width: 992px) {
                                    .xs-inline-block {
                                        display: inline-block;
                                    }

                                    .xs-text-center {
                                        text-align: center;
                                    }

                                    .xs-full-width {
                                        width: 100%;
                                    }
                                }
                            </style>
                            <tr></tr>
                            {# <tr>
                                <td>
                                    <table width="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="14"
                                        style="border-radius:4px; background-color:#FFFFFF;">
                                        <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="color:#435F71; font-size:15px; font-weight:bold;">Moyens de paiement</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <p>
                                                                    <table bgcolor="#17B355" border="0" cellpadding="0"
                                                                        cellspacing="4"
                                                                        style="display:inline-block; height:28px; margin-bottom:7px; border-radius:14px;">
                                                                        <tbody>
                                                                            <tr valign="center">
                                                                                <td style="font-size:0px;"
                                                                                    valign="center"><img alt=""
                                                                                        border="0" height="20"
                                                                                        width="20"
                                                                                        dfsrc="https://www.doctolib.fr/email_layout/icon-chip-check.png"
                                                                                        src="https://www.doctolib.fr/email_layout/icon-chip-check.png">
                                                                                </td>
                                                                                <td style="color:#FFFFFF; font-size:13px; line-height:14px; padding:0 7px;"
                                                                                    valign="center">Chèques</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="15" border="0" cellpadding="0"
                                                                        cellspacing="0" style="display:inline-block;">
                                                                    </table>
                                                                    <table bgcolor="#17B355" border="0" cellpadding="0"
                                                                        cellspacing="4"
                                                                        style="display:inline-block; height:28px; margin-bottom:7px; border-radius:14px;">
                                                                        <tbody>
                                                                            <tr valign="center">
                                                                                <td style="font-size:0px;"
                                                                                    valign="center"><img alt=""
                                                                                        border="0" height="20"
                                                                                        width="20"
                                                                                        dfsrc="https://www.doctolib.fr/email_layout/icon-chip-check.png"
                                                                                        src="https://www.doctolib.fr/email_layout/icon-chip-check.png">
                                                                                </td>
                                                                                <td style="color:#FFFFFF; font-size:13px; line-height:14px; padding:0 7px;"
                                                                                    valign="center">Espèces</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="15" border="0" cellpadding="0"
                                                                        cellspacing="0" style="display:inline-block;">
                                                                    </table>
                                                                    <table bgcolor="#435F71" border="0" cellpadding="0"
                                                                        cellspacing="4"
                                                                        style="display:inline-block; height:28px; margin-bottom:7px; border-radius:14px;">
                                                                        <tbody>
                                                                            <tr valign="center">
                                                                                <td style="font-size:0px;"
                                                                                    valign="center"><img alt=""
                                                                                        border="0" height="20"
                                                                                        width="20"
                                                                                        dfsrc="https://www.doctolib.fr/email_layout/icon-chip-cross.png"
                                                                                        src="https://www.doctolib.fr/email_layout/icon-chip-cross.png">
                                                                                </td>
                                                                                <td style="color:#FFFFFF; font-size:13px; line-height:14px; padding:0 7px;"
                                                                                    valign="center">Cartes bancaires non
                                                                                    acceptées</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="15" border="0" cellpadding="0"
                                                                        cellspacing="0" style="display:inline-block;">
                                                                    </table>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr> #}
                        </tbody>
                    </table>

{% endblock %}
