<div class="container">{{ form_start(form) }}
    {{ form_row(form.email) }}
    {# {{ form_row(form.password) }} #}
    {{ form_row(form.Telephone) }}
    {{ form_row(form.Nom) }}
    {{ form_row(form.roles)     }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>